// The $ symbol is short for JQuery
var new_comment = $("<%= escape_javascript(render(:partial => @comment))%>").hide();
$('#comments').prepend(new_comment);//put the new comment at at the beginning of the div
$('#comment_<%= @comment.id %>').fadeIn('slow'); //animation effect
$('#new_comment')[0].reset(); //Resets the "New Comment" form